{% extends "base/base.html" %}
{% load static %} 
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/booking.css' %}">
{% endblock %}
{% block title %} {{ block.super }} Booking {% endblock %}
{% block content %}
  <hr class="blue-hr">
  <div class="row bg-light">
    <!-- billing details -->
    <div class="col-lg-8">
      <p class="text-warning" style="font-size: 1.3rem;">Billing Details</p>
    </div>

    <!-- trip details -->
    <div class="col-lg-4">
      <p class="text-warning" style="font-size: 1.3rem;">Your Booking</p>
      <div class="trip-wrapper">
        <div class="tour-wrapper mt-5">
          <div class="row">
            <div class="col">
              <p class="name text-success">{{trip.name}}</p>
            </div>
            <div class="col">
              <div class="image-wrapper" style="height: 100px;width: 70px;overflow: hidden;">
                <img src="{{trip.image.url}}" style="height:100% ;width: 100%; object-fit: cover;" alt="">
              </div>
            </div>
          </div>      
        </div>
        <hr class="blue-hr">
        <div class="row">
          <div class="col-6"><p class="text-warning">Subtotal</p></div>
          <div class="col-6"><p class="text-warning">Ksh {{trip.cost}}</p></div>
        </div>

        <div class="row">
          <div class="col-6"><p class="text-warning">Total</p></div>
          <div class="col-6"><p class="text-warning">Ksh {{trip.cost}}</p></div>
        </div>

        <p>Click the button below to make a payment:</p>
    <!-- <a href="" target="_blank"><button>Make Payment</button></a> -->
      </div>
  </div>
  </div>

 {% endblock %}