{% extends "base/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/booking.css' %}">
{% endblock %}
{% block title %} {{ block.super }} Booking {% endblock %}
{% block content %}
<hr class="blue-hr">
<div class=" bg-light container main-container">
  <!-- billing details -->

  <p class="text-warning" style="font-size: 1.3rem;">Billing Details</p>


  <div class="item-details">
    <h5>{{tour.name}}</h5>

    <p>Cost: Ksh {{tour.cost}}</p>
    <p>Other Costs: Ksh 0</p>
    <hr>
    <h6>Billing  address</h6>

    <a href="{% if request.user.is_authenticated %}{% url 'submitOrder' booking_id=tour.id%}{%else %}{% url 'login'  %}{% endif %}" class="btn btn-warning">Proceed To Pay</a>
  </div>

  <!-- trip details -->

</div>


{% endblock %}