{% extends "base/base.html" %}
{% load static %} 
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/booking.css' %}">
{% endblock %}
{% block title %} {{ block.super }} Booking {% endblock %}
{% block content %}
  <hr class="blue-hr">
  <div class=" bg-light container">
    <!-- billing details -->
   
      <p class="text-warning" style="font-size: 1.3rem;">Billing Details</p>
      {% for trip in trips %}
        <div class="trip-item bg-light pt-2 pb-2 w-100">
        <div class="row">
          <div class="col-1">
            <p>{{trip.id}}</p>
          </div>
          <div class="col-8">
            <p>{{trip.item}}</p>
          </div>
        </div>
        </div>
      {% endfor %}
  

    <!-- trip details -->
   
  </div>
  

 {% endblock %}