
{% extends "base/base.html" %}
{% load static %} 
{% block title %} {{ block.super }} Home{% endblock %}
{% block content %}
    <!-- image section -->

    <div class="image-section" id="image-section" style="background-image: url(/static/images/elephant.webp);">
        <div class="image-section-content">
          <div class="image-content-title-wrapper">
            <p class="image-content-title">Experience ,Explore The uncommon with Us!</p>
          </div>
            <a href="#packages">
                <button type="button" class="image-section-button">GET STARTED</button>
            </a>
            <form action="" class="image-section-form">
               
                <div class="">
                   
                    <input
                        type="text"
                        class="form-control"
                        name=""
                        id=""
                        aria-describedby="helpId"
                        placeholder="Search For Trip Here"
                    />
                   
                </div>
                
                <button type="submit" class="btn btn-warning text-white">Find My Trip</button>
            </form>
        </div>
    </div>
   

    <!-- quote section -->

    <section class="quote-section container">
        <p class="top-trips-header-text">Top Destinations</p>
       

        <div class="row">
            {% for item in country_trips %}
            <div class="col-lg-4 col-md-12">
                <p class="quote-title">
                    {{item.country_name}} Trips
                    <i class="fa-regular fa-cart-shopping fa-2xs" style="color: #000000;"></i>
                </p>
                <div class="quote-image-wrapper">
                    <img src="{{item.image.url}}" alt="">
                    
                </div>
               
                <div class="see-more">
                    {% if forloop.counter == 1 %}
                    <a href="{% url 'kenya_safaris' %}">
                        {% elif forloop.counter == 2 %}
                        <a href="{% url 'uganda_safaris' %}">
                      
                        {% else %}
                        <a href="{% url 'tanzania_safaris' %}">
                        {% endif %}
                        <button class="see-more-btn">See Details <i class="fa fa-caret-right ml-2 mr-1"></i>
                        </button>
                    </a>
                </div>

            </div>

            {% endfor %}

           

            
         

        </div>
    </section>

    <!-- top trips -->

    <section class="top-trips container">
        <div class="row">
            <div class="col-lg-3 col-md-2">
                <hr class="hr">
            </div>
            <div class="col-lg-6 col-md-8">
                <p class="top-trips-header-text">Some of our Top Trips</p>
            </div>
            <div class="col-lg-3 col-md-2">
                <hr class="hr">
            </div>
        </div>



        <div class="top-trips-content  bg-light">
            <div class="row trips-content-items">

                {% for trip in trending %}

                <div class="col-lg-4 col-md-12 top-trips-item">
                    <a href="{% url 'details' trip.id %}" id="tour-item-link" style="color: inherit;">
                        <p class="text-primary">
                            {{trip.name}}
                        </p>

                        <p class="mt-2 top-trips-desc">{{trip.description}} </p>
                    </a>
                </div>


                {% endfor %}

                <!-- <div class="col-lg-4 col-md-12 top-trips-item">
                    <p class="text-primary">
                        BrisBane and The Great Barrier Reef | Book Now
                    </p>

                    <p class="mt-2 top-trips-desc">FIRST-CLASS | TAILOR-MADE: Discover the best 
                        of Queensland on this 11-day Brisbane and Port
                         Douglas vacation. Make unforgettable </p>
                </div> -->

                <!-- <div class="col-lg-4 col-md-12 top-trips-item">
                    <p class="text-primary">
                        BrisBane and The Great Barrier Reef | Book Now
                    </p>

                    <p class="mt-2 top-trips-desc">FIRST-CLASS | TAILOR-MADE: Discover the best 
                        of Queensland on this 11-day Brisbane and Port
                         Douglas vacation. Make unforgettable </p>
                </div> -->


            </div>
        </div>
    </section>

    <!-- explore -->

    <section class="explore container">
        <div class="row explore-wrapper">
            <div class="col-lg-4 ">
                <p class="explore-text">Poundvester</br><span class="your-way">Safaris</span></p>
            </div>

            <div class="col-lg-8">
                <p class="explore-text-desc">Poundvester Safaris is a Kenyan Tours & Travel
                    Company, that offers you the best tour and vacation experiences when you
                    decide to embark on one. From solos, family to groups, a tailored package for your outing is always
                    available, and if not, you customize one for self! – Sounds interesting,
                    right? Yeah, because our infamous name is “Your Home Away from Home.” </p>
            </div>
        </div>
    </section>

    <!-- packages -->

    <section class="container" id="packages">
        <div class="row">
            {% for tour in trending_tours %}
            <div class="col-lg-4 col-md-6  col-sm-12">
                <a href="{% url 'details' tour.id %}" id="tour-item-link" style="color: inherit;">
                    <p class="quote-title">
                        {{tour.name}}
                    </p>
                    <div class="quote-image-wrapper">
                        <img src="{% if tour.image %}{{ tour.image.url }}{% else %}#{% endif %}" alt="Image">
                    </div>
                    <div class="quote-description">
                        {{tour.description}}
                    </div>
                    <div class="see-more-pkg">
                        <button class="see-more-btn-pkg" href="{% url 'details' tour.id %}">See Details <i
                                class="fa fa-caret-right ml-2 mr-1"></i>
                        </button>
                    </div>
                </a>
            </div>
            {% endfor %}


           
        </div>
    </section class="container">




    <section class="container">
        <div class="row mt-5 ">
            <div class="col">
                <hr class="hr">
            </div>
            <div class="col">
                <div class="see-more-hr">
                    <button class="see-more-btn-hr">See More <i class="fa fa-caret-right ml-2 mr-1"></i>
                    </button>
                </div>
            </div>
            <div class="col">
                <hr class="hr">
            </div>
        </div>
    </section>

    <!-- promotion section -->

    <section class="container promotion-section mb-4">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-8">
                       
                        <div class="logo-section">
                            <img id="nav-logo" src="{% static 'images/poundvest.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <p class="promo-text-title">
                            To be the best in provision of diverse safari & tour services in East Africa.
                        </p>
                        <div class="see-more">
                            <a href="{% url 'about' %}">
                                <button class="see-more-btn">See Details <i class="fa fa-caret-right ml-2 mr-1"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="mt-4 text-muted promo-text">
                    Now, having stayed for quite a while in the Kenyan Tours &
                    Travel Industry, and having a team of professionals with vast
                    experience in the same field, Poundvesters safaris prides itself
                    to be among the most preferred company by travelers when it comes
                    to comfort, luxury and budget, because that’s actually who we are!

                    From Minivans, Vans, Cabs, Minibuses, Buses, Jeeps, Tourist coaches,
                    … And they are not just that, you can imagine the designs! If not,
                    why not actually have a real experience on a real vehicle? Because
                    they are all meant for you to have their feel. Especially the ___ on
                    a hilly terrain, which our Customer Experience Experts recommend, your
                    Safari with us is definitely something you can never regret to do with us.
                    Talk to our Customer Care to also share with you the recommendation…
                    <span class="text-danger">Learn more about us! »</span>
                </p>
            </div>
            
        </div>
    </section>

    <!-- more posters -->

    <section class="container mt-4 mb-4 more-posters">
        <div class="row">
            <div class="col-4">
                <div class="more-poster-wrapper">
                    <div class="more-poster-image">

                    </div>
                    <div class="more-poster-text">
                        <p class="more-poster-title">Make It Extra Special</p>
                        <p class="more-poster-desc text-muted">
                            If you are looking for a romantic getaway,
                            or a stay at a luxurious resort, or simply escaping to
                            one of our exotic destinations,
                            let us help “make it extra special”.
                        </p>


                        <button class="see-more-btn">See Details <i class="fa fa-caret-right ml-2 mr-1"></i>
                        </button>

                    </div>


                </div>
            </div>
            <div class="col-4">
                <div class="more-poster-wrapper">
                    <div class="more-poster-image">

                    </div>
                    <div class="more-poster-text">
                        <p class="more-poster-title">Make It Extra Special</p>
                        <p class="more-poster-desc text-muted">
                            If you are looking for a romantic getaway,
                            or a stay at a luxurious resort, or simply escaping to
                            one of our exotic destinations,
                            let us help “make it extra special”.
                        </p>


                        <button class="see-more-btn btn-warning">See Details <i class="fa fa-caret-right ml-2 mr-1"></i>
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="more-poster-wrapper">
                    <div class="more-poster-image">

                    </div>
                    <div class="more-poster-text">
                        <p class="more-poster-title">Make It Extra Special</p>
                        <p class="more-poster-desc text-muted">
                            If you are looking for a romantic getaway,
                            or a stay at a luxurious resort, or simply escaping to
                            one of our exotic destinations,
                            let us help “make it extra special”.
                        </p>


                        <button class="see-more-btn btn-warning">See Details <i class="fa fa-caret-right ml-2 mr-1"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- footer -->

   {% endblock %}