{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/media.css' %}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Domine">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/datepicker.js/dist/datepicker.min.css" rel="stylesheet">
    <title>Document</title>
    <style>
     
      </style>

</head>
<body class="bg-light">
  

{% include 'base/include/navbar.html' %}



<!-- slider section -->

 
<div class="container bg-light">
   <div class="container">
    <div class="slider-wrapper">
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active slider-item ">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.nZdSqH47L_oKkZSPholNHAHaE7%26pid%3DApi&f=1&ipt=0a75f78d1232747ffb07926c3c4a19a4b28c1cbc0ae9f3dc424f34424b426316&ipo=images" class="d-block w-100 slider-image" alt="...">
            <div class="slider-overlay">
              <p class="slider-overlay-text ">
                Experience ,Explore The Uncommon With Us! 
                <br>
              </p>
              <button class="btn btn-warning slider-btn text-white" id="slider-btn-1">Get Started</button>
             
             </div>
          </div>
          <div class="carousel-item slider-item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.pY-m68ZYPa2O0vsBw0YzwgHaE7%26pid%3DApi&f=1&ipt=a93b3c249c64e2c93ec1d603e2ce2b9f9be2e0bbd8dabc5cd55a13a45922a3b1&ipo=images" class="d-block w-100 slider-image" alt="...">
            <div class="slider-overlay">
              <p class="slider-overlay-text">
                Experience ,Explore The Uncommon With Us! 
              </p>
              <button class="btn btn-warning slider-btn text-white" id="slider-btn-2">Trending Tours</button>
             </div>
          </div>
          <div class="carousel-item slider-item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.KLvUYeWc9PaOeYlD-O0wpQHaEK%26pid%3DApi&f=1&ipt=7905772e528349d2a813be3e4c491cfbebee3881c19f211030db38f4ab81959b&ipo=images" class="d-block w-100 slider-image" alt="...">
            <div class="slider-overlay">
              <p class="slider-overlay-text">
                Experience ,Explore The Uncommon With Us! 
              </p>
              <button class="btn btn-warning slider-btn text-white" id="slider-btn-3">Hot Offers</button>
             </div>
          </div>
        </div>
      </div>
    
    </div>
   </div>
  </div>


  

  <!-- search section -->


<div class="container bg-light search-container ">
  <div class="search-wrapper">
    <form action="" method="GET" class="">
        
      <div class="row input-group" id="trip-search-form">
        <div class="col-md-12 col-lg-3">
          <select name="q"  class="from-control search-select">
            <option disabled selected>Destination</option>
            <option value="" name="q">Destination 1</option>
            <option value="" name="q">Destination 2</option>
            <option value="" name="q">Destination 3</option>      
          </select>
        </div>

        <div class="col-md-12 col-lg-3">
          <div class="mb-3">
           
            <input type="number"
            min="1"
              class="form-control" name="" id="" aria-describedby="helpId" placeholder="Guests">
          
          </div>
        </div>
        <div class="col-md-12 col-lg-3">
          <input type="date" id="datepicker" class="form-control search-select" placeholder="Select a date">
          </div>

          <div class="col-md-12 col-lg-3 mx-auto">
            <input type="submit" value="Search" class="btn btn-success btn-large" id="search-btn"  />
          </div>
      </div>
    </form>
    <div>
    </div>
</div>

<!-- top destinations -->

<div class="container" id="top-destinations">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card destination-card">
        <img src="https://poundvestsafaris.com/wp-content/uploads/2022/09/kenya.jpg" alt="Image Placeholder" class="card-img-top">
        <div class="card-img-overlay text-center destination-overlay-text">
          <h5 class="card-title fw-bold text-white fs-4">Kenyan Safaris</h5>
          <p class="card-text fw-bold text-white">10 tours</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card destination-card">
        <img src="https://poundvestsafaris.com/wp-content/uploads/2023/10/Tanzania-Dar-City_1000x600.jpg" alt="Image Placeholder" class="card-img-top">
        <div class="card-img-overlay text-center destination-overlay-text">
          <h5 class="card-title fw-bold text-white fs-4">Tanzania Safaris</h5>
          <p class="card-text fw-bold text-white">10 tours</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card destination-card">
        <img src="https://poundvestsafaris.com/wp-content/uploads/2023/10/Uganda_thumb_1067-x-600.jpg" alt="Image Placeholder" class="card-img-top">
        <div class="card-img-overlay text-center destination-overlay-text">
          <h5 class="card-title fw-bold text-white fs-4">Uganda/Rwanda Safaris</h5>
          <p class="card-text fw-bold text-white">10 tours</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- trending tours -->

<div class="container bg-light trending-tours">
  <h3 >Trending Tours</h3>
  <div class="row trending-tour-cards">
      {% for i in trending_tours %}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card trending-tour-card">
        <img  src="https://poundvestsafaris.com/wp-content/uploads/2023/10/white_rhino_national_park_of_kenya-870x555.jpg" class="card-img-top trending-tours-image" alt="Image">
        <div class="card-body">
          <h5 class="card-title text-success">8 Days Mt Kenya – Samburu – Ol Pejeta – Lake Nakuru – Masai Mara</h5>
          <div class="row">
            <div class="col">
              <p class="card-text text-warning">8 days 7 nights</p>
            </div>
            <div class="col">
              <p class="card-text">from <span class="text-success">Ksh 0</span></p>
            </div>
          </div>
        </div>
    </div>

  </div>
  {% endfor %}
</div>

<!-- site video section -->

<div class="container bg-light deals-section">
  <video allow="autoplay"  autoplay loop muted class="deals-section-video" id="deal-video">
    <source src="https://poundvestsafaris.com/wp-content/uploads/2023/10/Lion-1.mp4" type="video/mp4">
  </video>
  <div class="video-text">
    <h3 class="" id="video-text-title">Need a Vacation?</h3>
    <p class="" id="video-text-desc">Experience the best of Africa with us!</p>
    <button class="btn btn-warning btn-large deals-btn"  id="deals-btn">Get Deals</button>
</div>
</div>

<!-- clients -->


<div class="container bg-light   happy-clients">
  <h3 class="fs-3">Our Happy Clients</h3>

  <div class="row">
    {% for i in clients_count %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card client-card">
          <img src="https://poundvestsafaris.com/wp-content/uploads/2023/10/kody.jpg" alt="" class="client-profile">
            <p class="client-comment">
              <p class="rating">****</p>
              Trips have so many components and I just want to say, thank you, 
              for making all these components so much easier for me.
               Now, I can actually relax and enjoy myself.
            </p>
        </div>
      </div>
    {% endfor %}

    <div class="client-scroll">
      <button class="bg-white"><</button>
      <button class="bg-white">></button>
    </div>
  </div>
</div>


<!-- footer -->

{% include 'base/include/footer.html' %}

<!-- page end -->

<script src="{% static 'scripts/index.js' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>