{% extends "base/base.html" %}
{% load static %} 
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/safari.css' %}">
{% endblock %}
{% block title %} {{ block.super }} Kenya Safaris {% endblock %}
{% block content %}
  <div class="container top-image-wrapper">
    <img class="top-image" src="https://oiroegbu.files.wordpress.com/2020/08/fb_img_1574237226659285973315822052176198941520662693494632402.jpg" alt="">
    <div class="visa-image-overlay-text">
        <p class="category-top-overlay-text">
            <!-- Category:Kenya Safaris -->
        </p>
    </div>

</div>

<!-- trending tours -->

<div class="container bg-light trending-tours">
  <hr>
  <h3 > Category:Kenya Safaris</h3>
  <div class="row trending-tour-cards">
      {% for tour in tours %}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <a href="{% url 'details' tour.id %}" id="tour-item-link">
      <div class="card trending-tour-card mb-4">
        <img  src="{{tour.image.url}}" class="card-img-top trending-tours-image" alt="Image">
        <div class="card-body">
          <h5 class="" style="font-size: 0.9rem;">{{tour.name}}</h5>
          <div class="row">
            <div class="col">
              <p class="card-text text-warning" style="font-size: 0.9rem;">{{tour.duration}}</p>
            </div>
            <div class="col">
              <p class=""  style="font-size: 0.9rem;">from <span class="text-success">Ksh {{tour.cost}}</span></p>
            </div>
          </div>
        </div>
    </div>
</a>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}