{% extends "base/base.html" %}
{% load static %} 
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/auth.css' %}">
{% endblock %}
{% block title %} {{ block.super }} Login {% endblock %}
{% block content %}

    <div class="container auth-container">
        <form method="POST" novalidate>
            {% csrf_token %}
            <h2>Login</h2>
            {% for message in messages %}
            <p class="auth-error">{{message}}</p>
            {% endfor %}
            {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
            {{form.as_p}}

            
            <input type="submit" value="Login" class="btn btn-warning " id="auth-btn"/>
            <p class="alt-auth">New Here? <span><a href="{% url 'register' %}">Register Here</a></span></p>
        </form>
        
    </div>



{% endblock %}