{% extends "base/base.html" %}
{% load static %} 
{% block title %} {{ block.super }} Register{% endblock %}
{% block content %}
 <div class="auth-container container">       
    
    <form method="POST" novalidate>
        {% csrf_token %}
        <h2>Sign Up</h2>
        {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            
        {% for field in form %}
        <p>
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <input type="submit" value="Register" class="btn btn-warning" id="auth-btn"/>
        <p class="alt-auth">Already Registered? <span><a href="{% url 'login' %}">Login Here</a></span></p>
    </form>
    
 </div>
{% endblock %}