<section class="footer" style="width: 100%;">
  <hr class="">
  <div class="inner-footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 footer-items">
                  <p>NEED HELP?</p>
                  <hr class="hr">
                  <p><a href="">Visit Our Offices</a></p>
                  <p><a href=""> <i class="fas fa-building fa-md fa-fw"></i>  Westlands Office Park</a></p>
                  <p><a href=""> <i class="fas fa-street-view fa-md  "></i> 7th Floor, Waiyaki way.</a></p>
                  <p><a href=""> <i class="fas fa-location-arrow fa-md  "></i> Nairobi, Kenya</a></p>
                  
                  <p><a href="#"> <i class="fas fa-phone fa-md  "></i>  +254799365993</a></p>
                  
                 
                  <p><a href="#"> <i class="fas fa-mail-bulk fa-md  "></i>  info@poundvestersafaris.com</a></p>
                 
              </div>
              <div class="col-lg-3 footer-items">
                  <p>COMPANY</p>
                  <hr class="hr">
                  <p><a href="{% url 'about' %}">About Us</a></p>
                  <p><a href="{% url 'blogs' %}">Community Blog</a></p>
                  <p><a href="{% url 'rewards' %}">Rewards</a></p>
                  <p><a href="{% url 'work' %}">Work with Us</a></p>
                  <p><a href="{% url 'team' %}">Meet the Team</a></p>
              </div>

              <div class="col-lg-3 footer-items">
                  <p style="opacity: 1;">COMPANY</p>
                  <hr class="hr">
                  <p> <a href="#">Account</a></p>
                  <p><a href="{% url 'legal' %}">Legal</a></p>
                  <p><a href="{% url 'contacts' %}">Contact</a></p>
                  <p><a href="{% url 'affiliate' %}">Affiliate Program</a></p>
                  <p><a href="{% url 'policy' %}">Privacy Policy</a></p>
              </div>
          </div>
      </div>

      <div class="copyright-section">
          <a href="{% url 'home' %}">Copyright 2023</a>
          <a href="{% url 'home' %}">Home </a>
          <a href="">Contact</a>
          <a href="{% url 'careers' %}">Careers</a>
          <a href="{% url 'policy' %}">Terms and Conditions</a>
          <a href="{% url 'policy' %}">Privacy Policy</a>
          <a href="{% url 'contacts' %}">Accessibility</a>
          <a href="{% url 'home' %}">Travel Insurance</a>
          <a style="color: blue;" href="https:golbaldesartsmedia.com">Developed By Global Desarts Media</a>
      </div>
  </div>
</section>