<section class="footer" style="width: 100%;">
  <hr class="">
  <div class="inner-footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 footer-items">
                  <p>NEED HELP?</p>
                  <hr class="hr">
                  <p><a href="#">Call Us</a></p>
                  <p><a href="#">+254799365993</a></p>
                  <p><a href="#">Afica & Middle East</a></p>
                  <p><a href="#">Email for Us</a></p>
                  <p><a href="#">info@poundvestsafaris.com</a></p>
                  <p><a href="#">Follow Us</a></p>
              </div>
              <div class="col-lg-3 footer-items">
                  <p>COMPANY</p>
                  <hr class="hr">
                  <p><a href="{% url 'about' %}">About Us</a></p>
                  <p><a href="{% url 'blogs' %}">Community Blog</a></p>
                  <p><a href="{% url 'rewards' %}">Rewards</a></p>
                  <p><a href="{% url 'work' %}">Work with Us</a></p>
                  <p><a href="{% url 'team' %}">Meet the Team</a></p>
              </div>

              <div class="col-lg-3 footer-items">
                  <p style="opacity: 1;">COMPANY</p>
                  <hr class="hr">
                  <p> <a href="#">Account</a></p>
                  <p><a href="{% url 'legal' %}">Legal</a></p>
                  <p><a href="{% url 'contacts' %}">Contact</a></p>
                  <p><a href="{% url 'affiliate' %}">Affiliate Program</a></p>
                  <p><a href="{% url 'policy' %}">Privacy Policy</a></p>
              </div>
          </div>
      </div>

      <div class="copyright-section">
          <a href="{% url 'home' %}">Copyright 2023</a>
          <a href="{% url 'home' %}">Home </a>
          <a href="{% url 'contacts' %}">Contact</a>
          <a href="{% url 'careers' %}">Careers</a>
          <a href="{% url 'policy' %}">Terms and Conditions</a>
          <a href="{% url 'policy' %}">Privacy Policy</a>
          <a href="{% url 'contacts' %}">Accessibility</a>
          <a href="{% url 'home' %}">Travel Insurance</a>
      </div>
  </div>
</section>