<section class="footer" style="width: 100%;">
  <hr class="">
  <div class="inner-footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 footer-items">
                  <p>NEED HELP?</p>
                  <hr class="hr">
                  <p><a href="#">Call Us</a></p>
                  <p><a href="#">+254799365993</a></p>
                  <p><a href="#">Afica & Middle East</a></p>
                  <p><a href="#">Email for Us</a></p>
                  <p><a href="#">info@poundvestsafaris.com</a></p>
                  <p><a href="#">Follow Us</a></p>
              </div>
              <div class="col-lg-3 footer-items">
                  <p>COMPANY</p>
                  <hr class="hr">
                  <p><a href="#">About Us</a></p>
                  <p><a href="#">Community Blog</a></p>
                  <p><a href="#">Rewards</a></p>
                  <p><a href="#">Work with Us</a></p>
                  <p><a href="#">Meet the Team</a></p>
              </div>

              <div class="col-lg-3 footer-items">
                  <p style="opacity: 1;">COMPANY</p>
                  <hr class="hr">
                  <p> <a href="#">Account</a></p>
                  <p><a href="#">Legal</a></p>
                  <p><a href="#">Contact</a></p>
                  <p><a href="#">Affiliate Program</a></p>
                  <p><a href="#">Privacy Policy</a></p>
              </div>
          </div>
      </div>

      <div class="copyright-section">
          <a href="#">Copyright 2023</a>
          <a href="#">Home </a>
          <a href="#">Contact</a>
          <a href="#">Careers</a>
          <a href="#">Terms and Conditions</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Accessibility</a>
          <a href="#">Travel Insurance</a>
      </div>
  </div>
</section>