{% load static %}

<div class="nav-container" id="navbar">
  <div class="top-menu">
    <div class="logo-section">
      <img id="nav-logo" src="{% static 'images/poundvest.png' %}">
    </div>
    <div class="social-contacts">
      <p>info@poundvester.com</p>
      <p>+254712345678</p>
    </div>

    <div class="social-icons">
      <a href="https://web.facebook.com/poundvestersafaris/?_rdc=1&_rdr"><img class="social-icon"
          src="{%static 'images/fb.jpeg' %}" alt="">
        <a href="https://www.instagram.com/poundvester.safaris/"><img class="social-icon"
            src="{%static 'images/ig.jpeg' %}" alt=""></a>
        <img class="social-icon" src="{%static 'images/twitter.jpeg' %}" alt="">
        <img class="social-icon" src="{%static 'images/youtube.png' %}" alt="">
    </div>


    <!-- <p>Hello {{request.user.username}}</p> -->
    <a href="{% if request.user.is_authenticated %}{% url 'home' %}{% else %}{% url 'login' %}{% endif %}">
      <div class="active-account">
        <img class="user-image" src="{% static  'images/account.png' %}" alt="account-icon">

        {% if request.user.is_authenticated %}
        <div class="active-indicator"></div>

        {% else %}
        <div class="inactive-indicator"></div>
        {% endif %}
      </div>
    </a>


    <!-- <div class="nav-auth">
      <p><a style="color: inherit;" href="{% url 'login' %}">Login</a></p>
      <p><a style="color: inherit;" href="{% url 'register' %}">Sign Up</a></p>
    </div> -->


    <div id="google_translate_element"></div>


  </div>

  <div class="menu">
    <div class="menu-item-wrapper">
      <div class="menu-item" id="home" href="{% url 'home' %}"><span class="caret-span"></span> <a
          href="{% url 'home' %}">Home</a></div>
      <div class="menu-item" id="about"><span class="caret-span"></span> <a href="{% url 'about' %}">About Us</a></div>
      <div class="menu-item" id="safari"><span class="caret-span"><i class="fa fa-caret-right"></i></span>Safari
        Specials</div>
      <div class="menu-item" id="hot-deals"><span class="caret-span"><i class="fa fa-caret-right"></i></span> Hot Deals
      </div>
      <div class="menu-item" id="visa"><span class="caret-span"></span><a href="{% url 'visa' %}"> Kenya Visa</a></div>
      <div class="menu-item" id="blog"><span class="caret-span"></span> <a href="{% url 'blogs' %}">Blog</a></div>
      <div class="menu-item" id="contact"><span class="caret-span"></span> <a href="{% url 'contacts' %}">Contacts</a>
      </div>
    </div>
    <div class="search-section">
      <input type="text" placeholder="search">
    </div>

    <div class="cart">
      <!-- <i class="fa-solid fa-cart-shopping fa-2xs" style="color: #ffffff;"></i> -->
      <img src="{% static 'images/cartt.png' %}" alt="" style="height: 2rem; width: 2rem;">
    
    </div>



  </div>
  <div class="submenu">
    <div class="submenu-items " id="submenu-item-safari">
      <p><a style="color: inherit;" href="{% url 'kenya_safaris' %}">Kenya Safaris</a></p>
      <p><a style="color: inherit;" href="{% url 'tanzania_safaris' %}">Tanzania Safaris</a></p>
      <p><a style="color: inherit;" href="{% url 'uganda_safaris' %}">Uganda/Rwanda Safaris</a></p>
    </div>
    <div class="submenu-items " id="submenu-item-deals">
      <p><a style="color: inherit;" href="{% url 'christmas_deals' %}">Christmas Offers</a></p>
      
    </div>
  </div>
</div>